* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

div#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 80vh;
  height: 80vh;
  background-color: blue;
  position: relative;
  padding: 70px;
}

.item {
  width: 100px;
  height: 100px;
  background-color: rgb(17, 232, 42);
  transition: 0.1s;
  
  position: absolute;
  top: 0;
  left: 0;
}